{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}

{% for product in products %}
    <h2> {{product.name}}</h2>
    <p>{{product.price}} €</p>
    <img src={{product.url}} alt="">
{% endfor %}


{% endblock %}
