{% extends 'base.html.twig' %}
{% form_theme formOrder 'bootstrap_4_layout.html.twig' %}

{% block body %}


<h2> Validation de la commande</h2>
    
    {{ form_start(formOrder) }}
        {{ form_row(formOrder.customerName, {'attr':{'placeholder': "Entrez votre nom ici"}}) }}
        {{ form_row(formOrder.email, {'attr':{'placeholder': "Entrez votre adresse email ici"}}) }}

        
        <button type="Submit" class="btn btn-success"> Enregistrer </button>
    
    {{ form_end(formOrder)}}

{% endblock %}