
<h1> Mon chariot </h1>

<div *ngIf="(items | json) != ({} | json)">
    <table class="table tableClass mt-0 p-0">
        <thead> <tr>
            <td> <b> Nom </b> </td>
            <td> <b> Prix (€) </b></td>
            <td> <b> Quantity </b></td>
            <td> <b> Total </b></td> 
            <td> <b> Actions </b></td>
        </tr></thead>

        <tbody>                
            <tr *ngFor='let item of items | keyvalue'>
            <td> {{getName(item.key) }} </td>
            <td> {{getPrice(item.key) }} </td>
            <td> {{ item.value }} </td>
            <td> {{item.value * getPrice(item.key)}} </td>
            <td> 
                <button (click)="decreaseQuantity(item.key)"> - </button>
                <button (click)="increaseQuantity(item.key)"> + </button>
                <button (click)="removeItem(item.key)"> x </button>
            </tr>    
        </tbody>            
    </table>
</div>

<div *ngIf="(items | json) == ({} | json)">
    <h2> Votre chariot est vide </h2>
</div>
        
<div class="btn-group mb-5" role="group">
        <a routerLink="/products"> <button class="btn btn-secondary addQuestion"> Continuer mes achats </button> </a>
        <a routerLink="/order/add" *ngIf="(items | json) != ({} | json)"> <button class="btn btn-secondary addQuestion"> Valider ma commande </button> </a>
</div>

<h2> Total de la commande : {{ getTotalPrice() }} € </h2>

