
<div class="row">
    Filtrer par nom :  <input type="text" placeholder="Nom du produit" (change)="filter($event.target.value)"> (Et sélectionner ENTREE)
    <button (click)="clearFilter()"> Effacer filtre</button>
    <div class="list-group shadow">

        <ul class="list-group shadow">
            
            <app-single-product  *ngFor="let product of products"
                [productName]="product.name"
                [productPrice]="product.price"
                [productUrl]="product.url" 
                [productId] = "product.id"
                [productDescription] = "product.description">
            </app-single-product>
           
        </ul>
    </div>
</div>
