{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}


{% block body %}

<p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit numquam molestias repellendus, consequuntur ullam placeat amet illo assumenda, soluta distinctio incidunt asperiores sed nesciunt vitae ipsa expedita ex quaerat aliquid?


{% if cart | length > 0 %}
    {% for item in cart %}
        <p> {{item.product.name}}
        <p> {{item.quantity}} <p>
    
    {% endfor %}
{% else %}
    <p> Le panier est vide </p>
{% endif %}


{% endblock %}
